[Unit]
Description=Remote Lock Box
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/remotelockbox/app.py --host 0.0.0.0
Restart=on-failure
WorkingDirectory=/home/pi/remotelockbox

[Install]
WantedBy=multi-user.target
