{% extends "layout.html" %}

{% block body %}
<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">Status</h4>
        <p class="alert alert-info">
        {% if lock.is_locked() %}
        Box has been locked for {{ ((now - lock.last_locked) // 1000000) * 1000000 }}
        {% else %}
        Box is unlocked
        {% endif %}
    </p>
    <form class="form-lock" method="POST">
        <button id="lock" class="mr-2" formaction="/lock" type="submit" {% if lock.is_locked() %} disabled {% endif %} >Lock</button>
        <button id="unlock" formaction="/unlock" type="submit" {% if not lock.is_locked() %} disabled {% endif %}>Unlock</button>
    </form>
    </div>
</div>


<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">Scheduled Unlock</h4>
        <p class="card-text">
            Set a scheduled unlock time and lock the box.
        </p>
        <h6 class="card-subtitle mb-2 mt-3 text-muted">Date</h6>
        {% from "_form_helpers.html" import render_field %}
        <form class="form-schedule" method="POST">
        <div class="form-row">
            <div class="form-group">
                {% set invalid_class = '' %}
                {% if schedule_form.unlock_date.errors %}
                {% set invalid_class = 'is-invalid' %}
                {% endif %}

                {{ schedule_form.unlock_date(class_='form_control ' + invalid_class, placeholder='Choose date') }}
                {% if schedule_form.unlock_date.errors %}
                {% for error in schedule_form.unlock_date.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
                {% endif %}

            </div>
        </div>
        <p>
            <input type="submit" id="set_schedule" value="Lock">
            <input type="submit" id="clear_schedule" value="Clear">
        </p>
        <script>
            var now = new Date();
            flatpickr("#unlock_date", {
                enableTime: true,
                minDate: "today",
                defaultHour: now.getHours(),
                defaultMinute: now.getMinutes(),
                time_24hr: true,
                inline: true,
                altInput: true,
                altFormat: 'Y-m-d H:i',
                allowInput: true,
                minuteIncrement: 1
            });

            jQuery('#clear_schedule').click(function(e) { jQuery("#unlock_date").val(""); });
        </script>
        </form>
    </div>
</div>

{% endblock %}

